<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard"></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>EMI</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content class="dark-dashboard">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card class="glass-card">
          <ion-card-header>
            <ion-card-title>EMI Calculator</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <form (ngSubmit)="CalcluateEMI()">
              <ion-item>
                <ion-label>LoanAmt</ion-label>
                <ion-input type="text" [(ngModel)]="LoanAmt" name="title"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Months</ion-label>
                <ion-textarea [(ngModel)]="Months" name="description"></ion-textarea>
              </ion-item>
              <ion-item>
                <ion-label>Rate of Interest</ion-label>
                <ion-textarea [(ngModel)]="ROI" name="description"></ion-textarea>
              </ion-item>
              <ion-button color="primary" type="submit" expand="block">Calculate</ion-button>
            </form>
            <div style="overflow-x:scroll; margin-top:16px;">
              <table class="table table-striped table-bordered" id="tblEMI" style="width:100%">
                <thead>
                  <tr>
                    <th style="width:10px !important">No.</th>
                    <th>Opening Bal.</th>
                    <th>EMI</th>
                    <th>Principal</th>
                    <th>Interest</th>
                    <th>Bal.</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let obj of lstEMI">
                    <td>{{obj.SrNo}}</td>
                    <td>{{obj.LoanAmt | number:'1.0-0'}}</td>
                    <td>{{obj.EMI | number:'1.0-0'}}</td>
                    <td>{{obj.Principal | number:'1.0-0'}}</td>
                    <td>{{obj.ROI | number:'1.0-0'}}</td>
                    <td>{{obj.Balance | number:'1.0-0'}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button color="success" (click)="whatsappShare()">
      <ion-icon class="share-icon" name="logo-whatsapp"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- <div style="text-align: center">
      Share on Whatsapp <button ion-button icon-only (click)="whatsappShare()" color="primary" clear>
        <ion-icon class="share-icon" name="logo-whatsapp"></ion-icon>
    </button>
    </div> -->
</ion-content>