<!-- <ion-content text-center>
  <form (ngSubmit)="login()" #registerForm="ngForm">
    <div class="bg">
      <div class="head" text-center>
        <h1>Dialer</h1>
        <h5 style="color:white!important">Ver. {{versionInfo}}</h5>
      </div>
      <div class="inputs">
        <ion-item>
          <ion-label fixed>UserName</ion-label>
          <ion-input type="text" placeholder="UserName" [(ngModel)]="UserName" name="UserName" required></ion-input>
        </ion-item>
        <ion-item class="pass">
          <ion-label fixed>Password</ion-label>
          <ion-input type="Password" placeholder="Password" [(ngModel)]="Password" name="Password" required></ion-input>
        </ion-item>
        <button ion-button block><b>Login</b></button>
        <p>Forgot your Login details?</p>
        <br><b>Contact CIP Admin</b>
      </div>
    </div>
  </form>
</ion-content> -->
<ion-content padding>

  <form #form="ngForm" style="margin-top: 25px;padding-top: 25px" (ngSubmit)="login()" #registerForm="ngForm">

    <ion-card class="">
      <div class="upper_div" style="margin  : 20px;">
        <img src="assets/icon/logo.png" style="width: 180px;margin: 0 auto;">
      </div>
      <ion-card-header>
        <ion-card-title class="secondary" text-center>1UP Utility</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item class="ion-no-padding">
          <ion-label position="floating" class="light_lbl">Username</ion-label>
          <ion-input type="text" placeholder="UserName" [(ngModel)]="UserName" name="UserName" required></ion-input>
        </ion-item>
        <ion-item class="ion-no-padding">
          <ion-label position="floating" class="light_lbl">Password</ion-label>
          <ion-input type="Password" placeholder="Password" [(ngModel)]="Password" name="Password" required></ion-input>
        </ion-item>
        <ion-button expand="block" shape="round" (click)="login()" style="margin-top: 25px;margin-bottom:25px">
          Login
        </ion-button>
      </ion-card-content>
    </ion-card>
  </form>
  
</ion-content>